{% for type_, commits in release["elements"] | dictsort %}
{% if type_ != "unknown" %}
## {{ type_ | capitalize }}
{% for commit in commits %}
* {{ commit.descriptions[0] | capitalize }} ([`{{ commit.short_hash }}`]({{ commit.hexsha | commit_hash_url }}))
{% endfor %}
{% else %}
{% endif %}{% endfor %}