name: Artifacts at every commit
on:
  push:
    branches:
      - master

env:
  MINECRAFT_VERSION: 1.21.5
  FABRIC_LOADER_VERSION: 0.16.12
  PACKTEST_VERSION: 2.0.0-beta1
  FABRIC_API_VERSION: 0.119.9+1.21.5
  INSTALLER_VERSION: 1.0.1

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: Setup Python 3.11
        uses: actions/setup-python@v2
        with:
          python-version: 3.11
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: 1.6.1
          virtualenvs-create: true
          virtualenvs-in-project: true
      - name: Setup cache for dependencies
        id: cached-poetry-dependencies
        uses: actions/cache@v4
        with:
          path: .venv
          key: venv-${{  runner.os }}-${{ hashFiles('**/poetry.lock') }}
      - name: Install dependencies
        if: steps.cached-poetry-dependencies.outputs.cache-hit != 'true'
        run: poetry install
      - name: Release
        env:
          GH_TOKEN: ${{ secrets.GITHUB_TOKEN }}
          GIT_HASH: ${{ github.sha }}
        run: |
          make b BUILD_TYPE=artifact
      # Upload build/ datapack.zip, resourcepack.zip, datapack-bundled.zip, resourcepack-bundled.zip
      - uses: actions/upload-artifact@v4
        with:
          name: datapack
          path: build/datapack/
      # - uses: actions/setup-java@v4
      #   with:
      #     distribution: 'temurin'
      #     java-version: '21'

      # - name: Download server and mods in a python script
      #   run: |
      #     python3 -m pip install requests
      #     python3 .github/workflows/download_files.py
          
      # - name: Download and prepare files
      #   run: |
      #     mkdir -p world/datapacks
      #     cp -r build/datapack/ world/datapacks/datapack/
      # - name: Run tests
      #   run: |
      #     java -Xmx2G -Dpacktest.auto -Dpacktest.auto.annotations -jar server.jar nogui
